Repository ProvableHQ/snarkOS, pull requests merged in 2021-07, with the labels that each got.

#534 add prerequisite for installing through crate.io on ubuntu-18.04
  README.md
Labels: documentation

#884 Parallelize the storage validator, enable fixing stored digests
  Cargo.lock
  consensus/tests/consensus_sidechain.rs
  storage/Cargo.toml
  storage/src/objects/insert_commit.rs
  storage/src/validator.rs
  testing/src/storage/mod.rs
Labels: storage

#878 Network crawler v2
  Cargo.lock
  network/Cargo.toml
  network/src/inbound/inbound.rs
  network/src/lib.rs
  network/src/node.rs
  network/src/peers/peer_book.rs
  network/src/peers/peers.rs
  network/src/topology.rs
  network/tests/topology.rs
  rpc/documentation/public_endpoints/getnetworkgraph.md
  rpc/src/custom_rpc_server.rs
  rpc/src/error.rs
  rpc/src/rpc_impl.rs
  rpc/src/rpc_trait.rs
  rpc/src/rpc_types.rs
Labels: RPC, feature, network

#903 Introduce a storage cleanup tool
  storage/src/lib.rs
  storage/src/trim.rs
Labels: feature, storage

#912 chore: clippy lints
  network/src/peers/peers.rs
  network/src/topology.rs
  storage/src/validator.rs
Labels: refactor

#913 Fix the block height metric
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensus.rs
  metrics/src/lib.rs
  network/src/node.rs
  network/src/sync/blocks.rs
  rpc/src/rpc_impl.rs
Labels: metrics

#923 Only catch up the secondary storage if the block height is behind the primary one
  rpc/src/rpc_impl.rs
  rpc/src/rpc_impl_protected.rs
  storage/src/ledger.rs
Labels: RPC, storage

#914 feat: expose centrality measurements via rpc
  network/src/topology.rs
  rpc/documentation/public_endpoints/getnetworkgraph.md
  rpc/src/rpc_impl.rs
  rpc/src/rpc_types.rs
Labels: RPC

#920 Fix outbound metrics
  Cargo.lock
  network/Cargo.toml
  network/src/outbound/outbound.rs
  network/src/peers/peer/connector.rs
  network/src/peers/peer/outbound_handler.rs
  network/src/peers/peer/peer.rs
  network/src/peers/peer/receiver.rs
Labels: metrics

#925 More storage-related tests
  testing/src/storage/exporter.rs
  testing/src/storage/mod.rs
  testing/src/storage/trim.rs
  testing/src/storage/validator.rs
Labels: storage, tests

#926 Refactor the forking tiebreaker to use aggregated difficulty, instead of chain length
  consensus/src/consensus.rs
  storage/src/objects/block_path.rs
Labels: design

#943 Tweak the block_initiator_side sync test
  testing/src/network/sync.rs
Labels: network, tests

#944 Basic fork detection
  Cargo.lock
  network/Cargo.toml
  network/src/peers/peer/inbound_handler.rs
  network/src/peers/peers.rs
  network/src/topology.rs
  rpc/src/rpc_impl.rs
  rpc/src/rpc_types.rs
Labels: RPC, network

#950 Tweak the storage validator, expose the storage trim tool
  snarkos/config.rs
  snarkos/main.rs
  snarkos/parameters/flag.rs
  storage/src/validator.rs
  testing/src/storage/validator.rs
Labels: refactor, storage

#951 feat: exit after storage validation
  snarkos/main.rs
Labels: ergonomics

#953 Don't re-run member-level tests in the workspace-level CI job, run network tests in release mode
  .circleci/config.yml
  testing/src/network/sync.rs
Labels: configurations

#927 Only provide routable addresses in peer lists
  network/src/errors/network.rs
  network/src/peers/peer/connector.rs
  network/src/peers/peer/peer.rs
  network/src/peers/peer_book.rs
  network/src/peers/peers.rs
  network/tests/peers.rs
  network/tests/topology.rs
  rpc/src/rpc_impl.rs
Labels: network

#952 Fix path to config in the banner
  snarkos/display.rs
Labels: documentation

#954 ref: remove obsolete async
  network/src/inbound/inbound.rs
  network/src/node.rs
  network/src/peers/peer_book.rs
  network/src/sync/master.rs
  network/tests/topology.rs
  rpc/tests/protected_rpc_tests.rs
  rpc/tests/rpc_tests.rs
  snarkos/main.rs
  testing/src/network/mod.rs
  testing/src/network/topology.rs
Labels: refactor

#959 Faster storage validator
  consensus/tests/consensus_sidechain.rs
  snarkos/main.rs
  storage/Cargo.toml
  storage/src/rocks.rs
  storage/src/validator.rs
  testing/src/storage/trim.rs
  testing/src/storage/validator.rs
Labels: performance, storage

#958 feat: seedable initial peers that aren't marked as bootnodes
  network/src/peers/peers.rs
  network/tests/topology.rs
  testing/src/network/topology.rs
Labels: feature, network, tests

#957 feat: distinguish crawler nodes and bootnodes
  network/src/config.rs
  network/src/peers/peers.rs
  snarkos/config.rs
  snarkos/errors/cli.rs
  snarkos/main.rs
  snarkos/parameters/flag.rs
  testing/src/network/mod.rs
Labels: feature, network

#966 Further relax the flaky sync tests
  testing/src/network/sync.rs
Labels: tests

#968 Update most dependencies
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  consensus/Cargo.toml
  consensus/src/memory_pool.rs
  metrics/Cargo.toml
  network/Cargo.toml
  parameters/Cargo.toml
  rpc/Cargo.toml
  storage/Cargo.toml
  testing/Cargo.toml
  toolkit/Cargo.toml
Labels: dependencies

#973 fix: erronous check for tracking the known network
  network/src/node.rs
Labels: network

#969 feat: include the orphan rate in the sample grafana dashboard
  metrics/grafana/dashboard.json
Labels: metrics

#982 Provide RPC metrics with prometheus feature turned on
  metrics/src/lib.rs
Labels: metrics

#997 Make network crawlers disregard their connection count when requesting peer lists
  network/src/config.rs
  network/src/peers/peers.rs
Labels: network

#999 Make the outbound metric not grow with time
  network/src/peers/peer/outbound_handler.rs
  network/src/peers/peer_book.rs
Labels: metrics

#1002 Network crawler tweaks
  network/src/node.rs
  network/src/topology.rs
  rpc/src/rpc_impl.rs
Labels: performance, refactor

#994 Add a private RPC to connect to multiple peers
  rpc/documentation/private_endpoints/connect.md
  rpc/src/custom_rpc_server.rs
  rpc/src/rpc_impl_protected.rs
  rpc/src/rpc_trait.rs
Labels: RPC, feature
