Repository ProvableHQ/snarkOS, pull requests merged in 2021-08, with the labels that each got.

#1005 Update snarkVM to 0.7.6
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  consensus/Cargo.toml
  metrics/Cargo.toml
  network/Cargo.toml
  parameters/Cargo.toml
  rpc/Cargo.toml
  rpc/tests/protected_rpc_tests.rs
  storage/Cargo.toml
  testing/Cargo.toml
  testing/src/sync/test_blocks_100_1
  testing/src/sync/test_blocks_100_2
  testing/src/sync/test_data
Labels: dependencies

#1017 Connect to fewer, randomized bootnodes
  network/src/peers/peers.rs
  network/tests/handshake.rs
Labels: network, performance

#1019 Make the connection buffers grow on demand
  network/src/peers/peer/cipher.rs
  network/src/peers/peer/handshake.rs
  network/src/peers/peer/network.rs
  testing/src/network/encryption.rs
  testing/src/network/mod.rs
Labels: network, performance

#1022 Update the node cleanup test
  network/src/peers/peer_book.rs
  network/tests/cleanup.rs
  testing/src/network/mod.rs
Labels: network, tests

#1024 Increase block cache size
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/network/block_cache.rs
  benchmarks/network/messaging.rs
  benchmarks/network/syncing.rs
  network/Cargo.toml
  network/src/inbound/cache.rs
  network/src/inbound/inbound.rs
Labels: metrics, network, performance

#1036 Fix the block height metric
  consensus/src/consensus/inner/commit.rs
  consensus/src/consensus/utility.rs
  network/src/sync/blocks.rs
  rpc/src/lib.rs
  rpc/src/rpc_impl_protected.rs
Labels: metrics

#1038 Add a ledgercommitmentproofs RPC
  rpc/src/custom_rpc_server.rs
  rpc/src/error.rs
  rpc/src/rpc_impl_protected.rs
  rpc/src/rpc_trait.rs
  rpc/src/rpc_types.rs
Labels: feature, RPC

#1042 Adjust the storage validator to the new storage
  Cargo.lock
  consensus/src/consensus/inner/agent.rs
  consensus/src/consensus/inner/mod.rs
  consensus/tests/consensus_sidechain.rs
  snarkos/main.rs
  storage/Cargo.toml
  storage/src/key_value/agent/block.rs
  storage/src/key_value/agent/block_commit.rs
  storage/src/key_value/agent/mod.rs
  storage/src/key_value/column.rs
  storage/src/key_value/mod.rs
  storage/src/key_value/storage.rs
  storage/src/lib.rs
  storage/src/mem.rs
  storage/src/rocks.rs
  storage/src/storage.rs
  storage/src/validator.rs
  testing/src/storage/mod.rs
  testing/src/storage/validator.rs
Labels: storage

#1045 Restore the remaining storage validator tests
  storage/src/key_value/agent/mod.rs
  storage/src/key_value/mod.rs
  storage/src/key_value/storage.rs
  storage/src/storage.rs
  testing/src/storage/validator.rs
Labels: storage, tests

#1047 Use `hash_hasher` for hash maps and sets in sync
  Cargo.lock
  benchmarks/Cargo.toml
  benchmarks/network/hasher_hash.rs
  benchmarks/network/syncing.rs
  network/Cargo.toml
  network/src/sync/master.rs
Labels: performance

#996 Add a few missing tests for RPC endpoints, improve the RPC test utilities
  rpc/tests/protected_rpc_tests.rs
  rpc/tests/rpc_tests.rs
  testing/src/network/mod.rs
Labels: tests, RPC

#1048 Send block height within Block and SyncBlock messages
  benchmarks/network/block_cache.rs
  benchmarks/network/messaging.rs
  benchmarks/network/syncing.rs
  network/src/inbound/cache.rs
  network/src/inbound/inbound.rs
  network/src/message/message.rs
  network/src/message/payload.capnp
  network/src/message/payload_capnp.rs
  network/src/message/serialization.rs
  network/src/peers/peer/inbound_handler.rs
  network/src/peers/peer/outbound_handler.rs
  network/src/sync/blocks.rs
  network/src/sync/master.rs
  network/src/sync/miner.rs
  network/tests/fuzzing.rs
  network/tests/handshake.rs
  testing/src/network/encryption.rs
  testing/src/network/sync.rs
Labels: feature, sync, network

#1055 Include Pongs in the outbound msg count metric
  benchmarks/network/syncing.rs
  network/src/peers/peer/inbound_handler.rs
Labels: metrics

#1057 Fix merkle tree rebuilding
  Cargo.lock
  Cargo.toml
  benchmarks/Cargo.toml
  consensus/Cargo.toml
  metrics/Cargo.toml
  network/Cargo.toml
  rpc/Cargo.toml
  rpc/src/rpc_impl_protected.rs
  storage/Cargo.toml
  storage/src/ledger.rs
  storage/src/objects/dpc_state.rs
  storage/src/objects/insert_commit.rs
  testing/Cargo.toml
Labels: bug

#1058 Make bootnodes periodically connect to one another at random
  network/src/peers/peers.rs
Labels: network

#1059 Return a vec of errors when validating storage
  Cargo.lock
  consensus/tests/consensus_sidechain.rs
  storage/Cargo.toml
  storage/src/key_value/agent/mod.rs
  storage/src/key_value/column.rs
  storage/src/key_value/storage.rs
  storage/src/storage.rs
  storage/src/validator.rs
  testing/Cargo.toml
  testing/src/storage/validator.rs
Labels: storage, tests

#1062 Add a small delay before the storage validator error lock is removed
  storage/src/validator.rs
Labels: storage, tests

#1067 Extra performance metrics
  Cargo.lock
  consensus/src/consensus/inner/agent.rs
  consensus/src/consensus/mod.rs
  metrics/grafana/dashboard.json
  metrics/src/names.rs
  metrics/src/snapshots.rs
  metrics/src/stats.rs
  network/src/peers/peer/connector.rs
  network/src/peers/peer/receiver.rs
  network/src/peers/peer_book.rs
  network/src/sync/blocks.rs
  network/src/sync/master.rs
  storage/Cargo.toml
  storage/src/key_value/agent/mod.rs
  storage/src/key_value/mod.rs
Labels: metrics

#1068 Auto-update dependencies
  Cargo.lock
Labels: dependencies

#1073 Introduce the internal RTT metric
  Cargo.lock
  metrics/Cargo.toml
  metrics/grafana/dashboard.json
  metrics/src/lib.rs
  metrics/src/metric_types.rs
  metrics/src/names.rs
  metrics/src/snapshots.rs
  metrics/src/stats.rs
  network/src/inbound/inbound.rs
  network/src/lib.rs
  network/src/peers/peer/inbound_handler.rs
  network/src/peers/peer/outbound_handler.rs
  network/src/peers/peer/peer.rs
  network/src/peers/peer_book.rs
  network/src/peers/peers.rs
  network/src/sync/blocks.rs
  network/src/sync/master.rs
  network/src/sync/memory_pool.rs
  rpc/documentation/public_endpoints/getnodestats.md
Labels: feature, metrics, network, RPC

#1074 Do a better job avoiding mempool syncs and mining when syncing blocks
  network/Cargo.toml
  network/src/node.rs
  network/src/sync/master.rs
  network/src/sync/miner.rs
  network/src/sync/sync.rs
  testing/Cargo.toml
Labels: sync, performance

#1075 Reduce the max peers breach log level
  network/src/peers/peers.rs
Labels: network, ergonomics

#1080 Dedicated inbound thread
  consensus/src/consensus/mod.rs
  consensus/src/consensus/utility.rs
  consensus/src/error.rs
  consensus/src/miner.rs
  network/src/inbound/inbound.rs
  network/src/lib.rs
  network/src/node.rs
  network/src/sync/blocks.rs
  network/src/sync/memory_pool.rs
  network/src/sync/miner.rs
  rpc/tests/rpc_tests.rs
  snarkos/main.rs
  testing/src/network/mod.rs
Labels: performance

#1098 Remove clone from indexed merkle tree
  Cargo.lock
  consensus/Cargo.toml
  consensus/src/consensus/inner/agent.rs
  consensus/src/consensus/inner/mod.rs
  consensus/src/consensus/message.rs
  consensus/src/consensus/mod.rs
  consensus/src/ledger/indexed_merkle_tree.rs
  consensus/src/ledger/merkle.rs
  consensus/src/ledger/mod.rs
Labels: performance

#1103 Make cloning used in block propagation cheaper
  network/src/peers/peer_book.rs
  network/src/sync/blocks.rs
Labels: performance

#1104 Use a cheaper rng for network operations
  network/Cargo.toml
  network/src/peers/peer_book.rs
  network/src/peers/peers.rs
  network/src/sync/master.rs
Labels: performance

#1107 Add a pending inbound messages metric
  metrics/grafana/dashboard.json
  metrics/src/names.rs
  metrics/src/stats.rs
  network/src/peers/peer/peer.rs
  network/src/peers/peer_book.rs
Labels: feature, metrics

#1093 Remove the fork length limit
  Cargo.lock
  consensus/src/lib.rs
  network/Cargo.toml
  storage/Cargo.toml
  storage/src/storage/key_value/store.rs
  storage/src/storage/sqlite/mod.rs
  storage/src/storage/sqlite/sync.rs
  storage/src/storage/sync.rs
Labels: feature, sync

#1114 Perform a single write when sending network messages
  network/src/peers/peer/cipher.rs
Labels: performance

#1117 Add CUDA feature
  Cargo.lock
  Cargo.toml
Labels: feature
