Repository ProvableHQ/snarkOS, pull requests merged in 2023-07, with the labels that each got.

#2532 [Narwhal] A range of perf tweaks
  node/narwhal/src/gateway.rs
  node/narwhal/src/helpers/channels.rs
  node/narwhal/src/helpers/committee.rs
  node/narwhal/src/helpers/proposal.rs
  node/narwhal/src/helpers/storage.rs
  node/narwhal/src/primary.rs
  node/narwhal/src/worker.rs
Labels: performance

#2538 [Narwhal] faster tests
  node/narwhal/tests/common/primary.rs
  node/narwhal/tests/common/utils.rs
  node/narwhal/tests/e2e.rs
Labels: tests, performance

#2541 fix: gateway proptest
  node/narwhal/src/gateway.rs
Labels: tests

#2537 [Narwhal] proptest design iteration
  Cargo.lock
  node/narwhal/Cargo.toml
  node/narwhal/committee/Cargo.toml
  node/narwhal/committee/src/lib.rs
  node/narwhal/committee/src/prop_tests.rs
  node/narwhal/src/gateway.rs
  node/narwhal/src/helpers/proposal.rs
  node/narwhal/src/helpers/storage.rs
  node/narwhal/src/lib.rs
  node/narwhal/src/worker.rs
Labels: tests

#2545 [Narwhal] make test mods private
  Cargo.lock
  node/narwhal/src/helpers/resolver.rs
  node/narwhal/src/helpers/storage.rs
Labels: tests

#2550 [Narwhal] Another round of perf tweaks
  node/consensus/src/lib.rs
  node/narwhal/examples/simple_node.rs
  node/narwhal/ledger-service/src/ledger.rs
  node/narwhal/src/gateway.rs
  node/narwhal/src/helpers/storage.rs
  node/narwhal/src/primary.rs
  node/narwhal/src/worker.rs
  node/narwhal/tests/common/primary.rs
  node/narwhal/tests/e2e.rs
Labels: performance

#2574 [Narwhal] Minor test improvements
  node/narwhal/committee/src/prop_tests.rs
  node/narwhal/src/helpers/storage.rs
Labels: tests

#2576 [Narwhal] Proptests for BFT events
  node/narwhal/committee/src/prop_tests.rs
  node/narwhal/src/event/batch_certified.rs
  node/narwhal/src/event/batch_propose.rs
  node/narwhal/src/event/batch_signature.rs
  node/narwhal/src/event/certificate_request.rs
  node/narwhal/src/event/certificate_response.rs
  node/narwhal/src/event/challenge_request.rs
  node/narwhal/src/event/challenge_response.rs
  node/narwhal/src/event/disconnect.rs
  node/narwhal/src/event/mod.rs
  node/narwhal/src/event/transmission_request.rs
  node/narwhal/src/event/transmission_response.rs
  node/narwhal/src/event/worker_ping.rs
  node/narwhal/src/helpers/storage.rs
Labels: tests
